<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SiteMap</title>
    <link rel="stylesheet" href="/css/default.css?after">
    <link rel="stylesheet" href="/css/sitemapStyle.css?after">
</head>
<body>
<div class="sitemap">
    <div>
        <h2>Service</h2>
        <ul>
            <li>
                <a href="#a">단과대학교</a>
                <ul>
                    <li><a href="/business">인문대학</a>
                        <ul>
                            <li><a href="/business">경영학과</a>
                                <ul>
                                    <li><a href="#">교수님 프로필</a></li>
                                    <li><a href="#">프로필 팝업</a></li>
                                </ul>
                            </li>
                            <li><a href="/social">사회복지학과</a></li>
                            <li><a href="/criminal_j">법경찰학과</a></li>
                            <li><a href="/childhood">사회복지학과</a></li>
                        </ul>
                    </li>
                    <li><a href="#a">공과대학</a>
                        <ul>
                            <li><a href="/computer">컴퓨터공학부</a></li>
                            <li><a href="/architecture">건축학과</a></li>
                            <li><a href="/electric">전자융합공학부</a></li>
                            <li><a href="/chemical">화학공학과</a></li>
                        </ul>
                    </li>
                    <li><a href="#a">보건대학</a>
                        <ul>
                            <li><a href="/nursing">간호학과</a></li>
                            <li><a href="/physical">물리치료학과</a></li>
                            <li><a href="/clinical">임상병리학과</a></li>
                            <li><a href="/pharmace">제약공학부</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#a">예체능대학</a>
                        <ul>
                            <li><a href="#">디자인학부</a></li>
                            <li><a href="#">사회체육학부</a></li>
                            <li><a href="#">공연예술학과</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h2>&nbsp;</h2>
        <ul>
            <li>
            <li>
                <a href="#a">최신글 목록</a>
                <ul>
                    <li><a href="#a">리스트</a></li>
                    <li><a href="#a">해당글 조회</a></li>
                </ul>
            </li>
            <li>
                <a href="#a">순위표</a>
                <ul>
                    <li><a href="#a">프로필로 선택</a></li>
                    <li><a href="#a">프로필 팝업</a></li>
                </ul>
            </li>
            <li>
                <a href="#a">평가서</a>
                <ul>
                    <li><a href="#a">교수님 선택</a></li>
                    <li><a href="#a">평가 항목</a></li>
                    <li><a href="#a">한줄 평가</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h2>Management</h2>
        <ul>
            <li>
            <li>
                <a href="#">회원관리</a>
                <ul>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">회원정보수정</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>