<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <title>searchList</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- 아이콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg" />

    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS 파일 ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css?after" />
</head>
<body>
<div class="mb-150">
    <!-- Start Header  -->
    <th:block th:replace="~{layouts/header :: headerFragment}"></th:block>
    <!-- End Header Area -->
</div>
<div class="container">
    <!--게시글들-->
    <div class="container-sm" th:each="board: ${boards}">
        <div class="card" >
            <div class="card-header">
                <span style="display: none" th:text="${board.id}"></span>
                <span th:text="${board.boardWriter}"></span>
                <span th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></span>
                <span class="float-end" th:text="${board.boardHits}"></span>
            </div>
            <div class="card-body">
                <a class="fs-3" style="color: #5830E0" th:href="@{'/board/' + ${board.id}}" th:text="${board.boardTitle}"></a>
                <br>
                <span style="color: gray" th:text="${board.boardContents}"></span>
                <br>
            </div>
        </div>
        <br>
    </div>
    <!--페이지 번호-->
    <div class="row">
        <div class="col-sm-8">
            <!--<div class="pagination left">
                <ul class="pagination-list">
                    <li>
                        &lt;!&ndash; 첫번째 페이지로 이동 &ndash;&gt;
                        &lt;!&ndash; /board/paging?page=1 &ndash;&gt;
                        <a th:href="@{/board/paging(page=1)}">
                            <i class=""> <</i>
                        </a>
                    </li>
                    &lt;!&ndash; 페이지 번호 링크(현재 페이지는 숫자만) for(int page=startPage; page<=endPage; page++)&ndash;&gt;
                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        &lt;!&ndash; 현재페이지는 링크 없이 숫자만 &ndash;&gt;
                        <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                        &lt;!&ndash; 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 &ndash;&gt;
                        <span th:unless="${page == boardList.number + 1}">
                            <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
                        </span>
                    </li>
                    <li>
                        &lt;!&ndash; 마지막 페이지로 이동 &ndash;&gt;
                        <a th:href="@{/board/paging(page=${boardList.totalPages})}">
                            <i class=""> ></i>
                        </a>
                    </li>
                </ul>
            </div>-->
        </div>
        <div class="col-sm-4">
            <!--검색 창-->
            <div class="category-sidebar">
                <div class="single-widget search">
                    <h3>Search</h3>
                    <form action="/board/search" method="get">
                        <input type="text" name="keyword" placeholder="제목 또는 글 내용 검색하기">
                        <button type="submit">
                            <i class="lni lni-search-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Footer Area -->
<th:block th:replace="~{layouts/footer :: footerFragment}"></th:block>
<!--/ End Footer Area -->

<!-- 부트스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>